<a href="https://colab.research.google.com/github/Jc-martinez95/Data_analysis_Portfolio/blob/main/oxxo_web_scraping/oxxo_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Web-scrapping Project
Author: Juan Martinez.

linkedin: [texto del vínculo](https://)
This is part of a bigger project to show the distribution of oxxo stores in Mexico. This file is intended to show how to scrappe a website and pull relevant data

### Prepare the data

In [ ]:
# Importing libraries
import requests
import re
import json
from bs4 import BeautifulSoup
import pandas as pd

In [ ]:
# defining the url variable
url = "https://www.oxxo.com/tiendas?source=link-menu"

In [ ]:
# Connecting to the url
response = requests.get(url)

In [ ]:
# Creating the html variable
html = response.content

### Extract the data

In [ ]:
# Extracting the html
soup = BeautifulSoup(html, 'html.parser')

In [ ]:
# Saving the html file to view purposes
with open('web scraping parser.html','wb') as file:
  file.write(soup.prettify('utf-8'))

In [ ]:
# Selecting the html section to pull the data from
div = soup.find_all('div', {'class':'d-flex flex-column h-100'})

In [ ]:
# Turning the data into str format
text = str(div)

# Locating json tables
match = re.search(r'\[{.*\}]', text)

In [ ]:
# Extracting the json table
data = json.loads(match.group(0))

In [ ]:
# Turning the json table into Data Frame
df = pd.DataFrame(data)
df

### Analyze and clean the data

In [ ]:
# Checking number of rows and columns
df.shape

(16688, 11)

In [ ]:
# Checking column names
df.columns

Index(['id', 'name', 'cr', 'image', 'address', 'lat', 'lon', 'start_time',
       'end_time', 'categories', 'panini'],
      dtype='object')

In [ ]:
# Checking column dtypes
df.dtypes

id             int64
name          object
cr            object
image         object
address       object
lat           object
lon           object
start_time    object
end_time      object
categories    object
panini         int64
dtype: object

In [ ]:
# Checking null values
df.isnull().sum()

id                0
name              0
cr                0
image         16688
address           0
lat               0
lon               0
start_time    15690
end_time      15690
categories        0
panini            0
dtype: int64

In [ ]:
# Creating state column
df['state'] = df['address'].str.split(',').str[-1].str.strip().str.title()

0        Baja California
1                Chiapas
2             Nuevo León
3             Guanajuato
4             Nuevo León
              ...
16683            Chiapas
16684            Chiapas
16685            Chiapas
16686            Chiapas
16687            Chiapas
Name: state, Length: 16688, dtype: object

In [ ]:
# Creating city column
df['city'] = df['address'].str.split(',').str[3].str.strip().str.title()

0                          Mexicali
1                          Suchiate
2                            García
3             San Miguel De Allende
4                         Monterrey
                    ...
16683                       Arriaga
16684              Tuxtla Gutiérrez
16685    San Cristóbal De Las Casas
16686              Tuxtla Gutiérrez
16687              Tuxtla Gutiérrez
Name: city, Length: 16688, dtype: object

In [ ]:
# Subsetting the data
oxxo = df[['id','name','cr','address','city','state','lat','lon',]]

In [ ]:
# Exporting the data
oxxo.to_csv('oxxo_dir.csv',encoding='utf-8',index=False)

Thank you to watch this python section of the project, the final dashboard can be accesed here: [Looker Dashboard](https://lookerstudio.google.com/reporting/dadadff7-bdfb-4106-9ba9-8e6cec851f99)